.welcome-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-principal);
  padding-bottom: 150px;
}

@media (max-width: 500px) {
  .welcome-home {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 0px 120px 0px;
  }
}