.welcome-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  padding-bottom: 150px;
}

@media (max-width: 500px) {
  .welcome-home {
    flex-direction: column;
    align-items: center;
    transform: scale(0.6);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}