@import '../../design/VariabileDesign.css';

.header-app{
  background-color: var(--albastru-inchis);
  padding: 20px;
  height: 60px;
  display: flex;
  justify-content: right;
  align-items: right;
}


