.butoane-pagina-studiu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--alb-pur);
    width: 25%;
    height: 1250px;
}

.butoane-pagina-studiu {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
}

.detalii-profesor {
    padding: 30px 0px 30px 0px;
}

@media (max-width: 500px) {
    .butoane-pagina-studiu-items {
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .butoane-pagina-studiu {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: row;
        width: 100%;
    }
}