@import '../../../../elemente/design/VariabileDesign.css';

.elemente-studiu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.panou-studiu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 60%;
    height: 1250px;
    padding: 30px;
}

.panou-stanga {
    padding-top: 100px;
    width: 10%;
    height: 1250px;
    background-color: var(--fundal);
}

.panou-dreapta {
    padding: 30px;
    width: 40%;
    height: 1250px;
    background-color: var(--fundal);
}