.container {
    display: flex;
    align-items: flex-start;
    text-align: flex-start;
    flex-direction: row;
    width: 100%;
}

.heading {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
}

.info {
    color: #555;
    margin: 8px 0;
}

.lista-documente {
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.list-item {
    margin: 8px 0;
    display: flex;
    flex-direction: column;
}

.error-message {
    color: red;
}