.elevii-mei-items{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.lista-elevi{
    display: flex;
    flex-direction: row;
    gap:30px;
    align-items: center;
    justify-content: center;
}