.elevii-mei-items {
    display: flex;
    flex-direction: column;
    padding: 0px 40px 0px 40px;
}

.lista-elevi {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}