@import '../../../../elemente/design/VariabileDesign.css';

.lista-anunturi {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campuri-anunut {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}