@import '../../../../elemente/design/VariabileDesign.css';

.lista-anunturi-items {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

.filtru-lista {
    width: 100%;
    padding: var(--padding-principal);
}

.lista-anunturi-items ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--tabel-gri);
    list-style: none;
    cursor: pointer;
    width: 100%;
}

.lista {
    width: 100%;
}

.lista-anunturi-items ul li.par {
    background-color: var(--tabel-alb);
}

.lista-anunturi-items ul li.impar {
    background-color: var(--tabel-fundal);
}

.butoane-lista-anunturi {
    display: flex;
    flex-direction: row;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .lista-anunturi-items ul li {
        flex-direction: column;
        align-items: center;
    }

    .campuri-anunut {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 767px) {
    .lista-anunturi-items {
        width: 100%;
    }

    .filtru-lista {
        width: 100%;
        padding: 0px;
    }
}