@import '../../design/VariabileDesign.css';

.form-inregistrare-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-inregistrare {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: var(--alb);
    padding: 30px;
    padding-top: 5px;
    width: 50%;
    margin-top: 2%;
    border: 10px solid var(--albastru-fundal);
}

.inregistrare-titlu {
    text-align: left;
}