@import '../../../../elemente/design/VariabileDesign.css';

.incarcare-material-items {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}
