@import '../../../../elemente/design/VariabileDesign.css';

.incarcare-material-items {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
}

.adaugare-incarca{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    border-bottom: 0.5px solid rgb(199, 199, 199);
    width: 100%;
}
