@import '../design/VariabileDesign.css';

.buton-autentificare {
    margin-top: 25px;
    width: 250px;
    height: 45px;
    color: var(--alb);
    border: none;
    border-radius: 70px;
    cursor: pointer;
}

.buton-autentificare:hover {
    animation: pulse 1s infinite;
}

.buton-autentificare-login{
    background-color: var(--albastru-mediu);
}

.buton-autentificare-inregistrare{
    background-color: var(--albastru-inchis);
}