.buton-reutilizabil {
    width: 530px;
    height: 100px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f2f3f4;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-bottom: 10px;
    background-color:  #00305f;
}


.buton-reutilizabil-1 {
    background-color: #4d72dd;
}

.buton-reutilizabil-2 {
    background-color: #141b76;
}

.buton-reutilizabil-3 {
    background-color: #0d114d
}
.buton-reutilizabil:hover {
    animation: pulse 1s infinite;
}