@import '../design/VariabileDesign.css';

.profil-items {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.profile-image {
  text-align: left;
}

.profile-image img {
  width: 200px;
  height: auto;
}

.profile-details p {
  position: relative;
}

.profile-details p::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 150%;
  height: 1px;
  background-color: var(--albastru-fundal);
}