@import '../design/VariabileDesign.css';

.profil-items {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: row;
  padding: 40px;
}

.detalii-sfera{
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}