.studiu-items {
  background-color: var(--albastru-inchis);
}

.pagina-studiu-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.lectii-teme-teste {
  display: flex;
  gap: 20px;
}
