.container-material {
    display: flex;
    align-items: flex-start;
    text-align: flex-start;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.heading {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
}

.info {
    color: #555;
    margin: 8px 0;
}

.lista-documente {
    list-style: none;
    padding: 0;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.list-item {
    margin: 8px 0;
    display: flex;
    flex-direction: column;
}

.error-message {
    color: red;
}

.butoane-document{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}