@import '../design/VariabileDesign.css';

.input-login{
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: row;
}

.label-login{
    margin: 10px 0;
    text-align: left;
    color: var(--albastru-inchis);
}