:root {
  /* Culori */
  --culoare-fundal-deschis: #DDDDDF;
  --culoare-fundal-inchis: #0D114D;
  --culoare-secundara: #191337;
  --albastru-mediu: #141B76;
  --albastru-deschis: #4d72dd;
  --portocaliu: #0f0e24;
  /* Gri */
  --text: #444444;
  /* Alb */
  --alb: #eaeaea;
  --alb-pur: white;
  /* Tabel */
  --tabel-gri: #dddddd;
  --tabel-fundal: #ffffff;

  --culoare-albastru2: #00305f;

  /* Fonturi */
  --font-principal: 'Arial', sans-serif, 'Helvetica';

  /* Dimensiuni font */
  --font-size-titlu-mare: 3em;
  --font-size-titlu-mic: 1.5em;
  --font-size-text-mare: 1.87em;
  --font-size-text-mic: 0.93em;

  /* Margini si padding-uri */
  --padding-element: 10px;
  --margin-element: 10px;

  /* Border*/
  --border-standard: 2px solid var(--gri);
}