@import '../../../elemente/design/VariabileDesign.css';

.detalii-profil-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}

.text-detalii-profil {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  height: 300px;
}

@media (max-width: 768px) {
  .detalii-profil-items {
    margin-bottom: 5px;
  }

  .text-mic::after {
    bottom: -1px;
  }
}