@import '../../../elemente/design/VariabileDesign.css';

.profil-items {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  padding: var(--padding-principal);
}

.detalii {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

@media (max-width: 500px) {
  .profil-items {
    align-items: center;
    transform: scale(0.5) translateY(-50%);
    display: flex;
    gap: 100px;
    flex-direction: column;
    padding-top: 15px;
  }
}
