@import '../../../elemente/design/VariabileDesign.css';

.profil-items {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  padding: var(--padding-principal);
}

@media (max-width: 500px) {
  .profil-items {
    align-items: center;
    width: 100%;
    padding: 2px;
    display: flex;
    gap: 100px;
    flex-direction: column;
    padding-top: 15px;
  }
}