@import '../../elemente/design/VariabileDesign.css';

.sfera-items{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sfera {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 120px;
    background-color: var(--alb-pur);
    border-radius: 50%;
    height: 290px;
    width: 290px; 
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .sfera{
        background-color: var(--culeare-fundal-deschis);
        box-shadow: none;
        padding: 0;
    }
  }