.nav-principal {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 768px) {
  .nav-principal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}