.buton-login{
    margin-top: 25px;
    width: 250px;
    height: 45px;
    background-color: #16165b;
    color: white;
    border: none;
    border-radius: 70px;
    cursor: pointer;
}
.buton-login:hover {
    animation: pulse 1s infinite;
  }