.buton-inregistrare{
    margin-top: 25px;
    width: 250px;
    height: 45px;
    background-color: #141B76;
    color: white;
    border: none;
    border-radius: 70px;
    cursor: pointer;
}
.buton-inregistrare:hover {
    animation: pulse 1s infinite;
}