@import '../../design/VariabileDesign.css';

.studiu-layout {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.list-view {
    list-style: none;
    padding: 0;
    width: 100%;
}

.list-item {
    background-color: white;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 30px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.list-item:hover {
    background-color: var(--alb);
    transform: scale(1.02);
}

.list-item:active {
    transform: scale(0.98);
}