@import '../../elemente/design/VariabileDesign.css';

.studiu-layout {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

}

.list-view {
    list-style: none;
    padding: 0;
    width: 100%;
}

.list-item {
    background-color: var(--alb);
    border: 1px solid var(--tabel-gri);
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.list-item:hover {
    background-color: white;
}

.list-item:active {
    transform: scale(0.98);
}
