@import '../design/VariabileDesign.css';

.info-box {
    width: 400px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #f2f3f4;
}

.info-box {
    background-color: var(--culoare-secundara);
    width: 350px;
    height: 250px;
    padding: 15px;
    margin: 15px;
}

.info-box:hover {
    background-color: var(--albastru-mediu);
}

