@import './elemente/design/VariabileDesign.css';

.App {
  text-align: center;
}

body {
  line-height: 1.5;
  background-color: var(--culoare-fundal-deschis);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}