@import '../design/VariabileDesign.css';

.buton-nav-principal {
    height: 45px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--alb);
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 0.9em;
    transition: all 0.2s ease;
}

.buton-nav-principal:hover {
    color: var(--albastru-deschis);
}

@media only screen and (max-width: 768px) {
    .buton-nav-principal {
        width: 100%;
        max-width: 60px;
        font-size: 0.8em;
    }
}

.buton-studiu {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 0.9em;
}

.buton-studiu:hover {
    background-color: var(--albastru-deschis);
    color: white;
}

.buton-login,
.buton-inregistrare,
.buton-descarca {
    margin-top: 25px;
    width: 250px;
    height: 45px;
    color: var(--alb);
    border: none;
    border-radius: 70px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.buton-login {
    background-color: var(--albastru-mediu);
}

.buton-inregistrare {
    background-color: var(--culoare-secundara);
}

.buton-publicare {
    background-color: #1E2753;
    border: none;
    width: 100%;
    height: 45px;
    color: var(--alb);
}

.buton-publicare:focus {
    background-color: var(--albastru-mediu);
}

.buton-descarca {
    background-color: #4caf50;
    border-radius: 4px;
}

.buton-login:hover {
    animation: pulse 1s infinite;
}

.buton-inregistrare:hover {
    animation: pulse 1s infinite;
}