@import '../design/VariabileDesign.css';

.buton-sferic {
    border: 0;
    background-color: var(alb);
    border-radius: 50%;
    width: 270px;
    height: 250px;
    justify-content: center;
    cursor: pointer;
}

.buton-sferic:hover {
    animation: pulse 1s infinite;
}

@media (max-width: 600px) {
    .buton-sferic-container {
        flex-direction: column;
        align-items: center;
    }
}
.text-buton-sferic {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--albastru-inchis);
}