@import '../../design/VariabileDesign.css';

.footer-app {
  background-color: var(--albastru-inchis);
  padding: 20px;
  height: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}