@import '../design/VariabileDesign.css';

.lista-anunturi-items ul li {
    border-bottom: 1px solid var(--tabel-gri);
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.lista-anunturi-items ul li.par {
    background-color: var(--alb);
}

.lista-anunturi-items ul li.impar {
    background-color: var(--tabel-fundal);
}

.campuri-anunut{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}