@import '../design/VariabileDesign.css';

.lista-anunturi-items {
   padding-right: 40px;
}
.titlu-lista-anunturi{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding-left: 40px;
}

.butoane-lista-anunturi{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: row;
    width: 100%;
}