@import '../design/VariabileDesign.css';

.lista-anunturi-items {
    margin: 0px 40px 0px 40px;
}
ul{
    padding-left: 0px;
}
.titlu-lista-anunturi {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.butoane-lista-anunturi {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
}

@media screen and (max-width: 100px) {
    .lista-anunturi-items {
        margin: 0px;
    }
}