@import '../../../design/VariabileDesign.css';

.info-box-items {
    background-color: var(--albastru-fundal);
    padding: 30px;
}

.info-box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.titlu-beneficii {
    font-size: var(--font-size-titlu-mic 1.5em);
    text-align: center;
    color: var(--alb);
    margin: 5%;
}

@media (max-width: 600px) {
    .info-box-container {
        flex-direction: column;
        align-items: center;
    }
}

.titlu-info-box,
.descriere-platforma,
.descriere-platforma p {
    color: var(--alb);
    text-align: left;
    margin: 5%;
}

.info-box p {
    font-size:  var(--font-size-text-mic);
    margin: 0;
}

@media (max-width: 600px) {
    .info-box {
        width: 100%;
        margin: 20px 0;
        transform: none;
    }
}