@import '../../design/VariabileDesign.css';
.sfera-items{
    display: flex;
    align-items: right;
    justify-content: right;
}

.sfera {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 120px;
    background-color: var(--alb);
    border-radius: 50%;
    height: 300px;
    width: 300px; 
}